@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
    url(./fonts/quicksand-v21-latin-regular.woff) format("woff");
}

/* :root {
  --htmlFontSize: 100%;
  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
} */

* {
  font-family: -apple-system, BlinkMacSystemFont, "Quicksand", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: var(--htmlFontSize);
  height: 100%;
}

body {
  background-image: linear-gradient(145deg, #0079bf, #068ddb);
  color: #333333;
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  height: 100%;
  /* line-height: var(--bodyLineHeight); */
  margin: 0;
  min-height: 100vh;
}

h1,
small {
  color: #e2e2e2;
}

.header {
  background-color: #0067a3;
  margin: 0;
  padding: 0;
  height: 7%;
  width: 100%;
}

.logo {
  height: 100%;
}

.user-task {
  background-color: #e2e2e2;
  width: 278px;
  height: 400px;
  border-radius: 10px;
  margin: 10px;
  float: left;
  transition: transform 0.2s;
}

.user-task:hover {
  transform: scale(1.05);
  /* transform: translateY(5%); */
  background-color: #f5f5f5;
}

.user-title {
  text-align: center;
  margin: 10px;
}

.user-header {
  background-color: #c9c9c9;
  width: 278px;
  height: 40px;
  padding: 0.1px;
  box-shadow: inset 0 0 10px #808080;
  /* border-radius: 10px; */
}

.submit {
  background-color: #e2e2e2;
  bottom: 0;
  padding: 10px;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  margin: 10px 10px;
  width: 278px;
  transition: transform 0.2s;
}
.submit:active {
  transform: scale(0.9);
  box-shadow: inset 0 0 10px #4e4e4e;
}

.submitTask {
  background-color: #666666;
  bottom: 0;
  padding: 6px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  margin: 5px 10px;
  width: 250px;
  transition: transform 0.2s;
  color: #f1f1f1;
}

.submitTask:active {
  transform: scale(0.9);
  box-shadow: inset 0 0 10px #4e4e4e;
}

.form-popup {
  background-color: white;
  margin: 10px;
  width: 278px;
  display: none;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  float: left;
}

.align-right {
  width: 85%;
  border: none;
  border: solid 1px rgb(97, 97, 97);
  border-radius: 10px;
  padding: 6px;
  margin: 10px;
}

h4 {
  width: 85%;
  padding: 6px;
  margin: 10px;
}

.form-container .btn {
  background-color: #f1f1f1;
  color: rgb(20, 20, 20);
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  width: 90%;
  margin: 10px;
  opacity: 0.8;
  font-size: 20px;
}
